.label {
  text-align: right;
  align-items: right;
  position: absolute;
  top: 250px;
  left: 150px;
}

.label .text-wrapper {
  color: #000000;
  font-family: roboto;
  font-size: 80px;
  font-weight: 800;
  left: 0;
  width: 100%;
}

.label .text-wrapper2 {
  color: #d4842b;
  font-family: roboto;
  font-size: 80px;
  font-weight: 800;
  left: 0;
  width: 100%;
}

.label .text-wrapper3 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(212, 132, 43) 0%,
    rgb(10.63, 10.63, 10.63) 85.94%
  );
  background-clip: text;
  color: transparent;
  font-family: roboto;
  font-size: 80px;
  font-weight: 800;
  left: 0;
  width: 100%;
}

.label2 {
  margin-top: 10px;
}

.label .text-wrapper4 {
  color: #000000;
  font-family: roboto;
  font-size: 20px;
  margin-top: 5px;
  letter-spacing: 1px;
  width: 100%;
}

.download {
  margin-top: 80px;
  align-items: center;
  background-color: #d4842b;
  border-radius: 100px;
  display: flex;
  gap: 22px;
  height: 50px;
  justify-content: center;
  padding: 2px 4px 2px 4px;
  position: absolute;
  left: 0px;
  width: 180px;
}

.label .text-wrapper5 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

/*background image */
.page-image {
  position: absolute;
  left: 100%;
  top: -50px;
  width: 100%;
  height: 100%;
}

.page-image img {
  width: 80%;
}

@media screen and (max-width: 1440px) {
  .label {
    text-align: right;
    align-items: right;
    position: absolute;
    top: 250px;
  }

  .label .text-wrapper {
    margin-top: 100px;
    color: #000000;
    font-family: roboto;
    font-size: 66px;
    font-weight: 800;
    left: 0;
    width: 100%;
  }

  .label .text-wrapper2 {
    color: #d4842b;
    font-family: roboto;
    font-size: 66px;
    font-weight: 800;
    left: 0;
    width: 100%;
  }

  .label .text-wrapper3 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
      180deg,
      rgb(212, 132, 43) 0%,
      rgb(10.63, 10.63, 10.63) 85.94%
    );
    background-clip: text;
    color: transparent;
    font-family: roboto;
    font-size: 66px;
    font-weight: 800;
    left: 0;
    width: 100%;
  }

  .label2 {
    margin-top: 10px;
  }

  .label .text-wrapper4 {
    color: #000000;
    font-family: roboto;
    font-size: 16px;
    margin-top: 5px;
    letter-spacing: 1px;
    width: 100%;
  }

  .download {
    margin-top: 40px;
    align-items: center;
    background-color: #d4842b;
    border-radius: 100px;
    display: flex;
    gap: 22px;
    height: 50px;
    justify-content: center;
    padding: 1px 2px 1px 2px;
    position: absolute;
    left: 0px;
    width: 140px;
  }

  .label .text-wrapper5 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  /*background image */
  .page-image {
    position: absolute;
    left: 140%;
    top: 50px;
    width: 100%;
    height: 100%;
  }

  .page-image img {
    width: 100%;
    margin-top: 100px;
  }

  .download-wrapper {
    margin-top: 50px;
    color: #000000;
    font-family: roboto;
    font-size: 60px;
    font-weight: 800;
    left: 0;
    width: 100%;
  }

  .download-wrapper2 {
    color: #d4842b;
    font-family: roboto;
    font-size: 60px;
    margin-left: 30px;
    font-weight: 800;
    left: 0;
    width: 100%;
  }

  .download-wrapper3 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
      180deg,
      rgb(212, 132, 43) 0%,
      rgb(10.63, 10.63, 10.63) 85.94%
    );
    background-clip: text;
    color: transparent;
    font-family: roboto;
    font-size: 60px;
    font-weight: 800;
    left: 0;
    width: 100%;
  }

  .download-wrapper4 {
    color: #000000;
    font-family: roboto;
    font-size: 16px;
    margin-top: 5px;
    letter-spacing: 1px;
    width: 100%;
  }

  .download-icons {
    margin-top: 40px;
    display: flex;
  }

  .download-icons .download-logo {
    width: 150px;
    height: 150px;
  }

  .download-icon img {
    display: block;
    width: auto;
    height: 60px;
    margin-bottom: 20px;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
