* {
  text-decoration: none;
}

.dashboard {
  background-color: #f5f5f5;
  font-family: roboto;
  width: 100%;
  height: 100vh;
}

.slideBar {
  top: -30px;
  width: 21%;
  position: absolute;
  background-color: white;
  height: 130%;
}

.dashboard--logo {
  margin-top: 140px;
}

.ulContent {
  list-style: none;
  position: absolute;
  text-align: left;
  margin-top: 80px;
}

.ulContent ld {
  margin-right: 20px;
  font-size: 19px;
  font-weight: 600;
  /* text-decoration: none; */
  color: #4a4c56;
  align-items: center;
  justify-content: center;
}

.ulContent li {
  margin-top: 30px;
}

.ulContent .active1 {
  font-size: 25px;
  font-weight: 600;
  position: relative;
  left: 40px;
  top: -20px;
  color: black;
}

.active--link img {
  position: relative;
  top: 8px;
  left: -20px;
}

.active--link {
  background-color: #f5f5f5;
  padding: 20px 200px 0px 50px;
  position: relative;
  left: -30px;
}

.yellow--mark {
  position: absolute;
  left: -13px;
  width: 10px;
  padding: 4.5px;
  height: 65px;
  top: 0;
  background-color: #ffcf70;
}

ld img {
  width: 20px;
  height: auto;
}

.cards {
  margin-left: 420px;
  z-index: 10;
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.cards-2 {
  margin-left: 420px;
  z-index: 10;
  display: flex;
  gap: 25px;
}

.card {
  text-align: left;
  align-items: middle;
  justify-content: middle;
  background-color: white;
  width: 220px;
  height: auto;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
}

.card-2 {
  text-align: center;
  align-items: center;
  justify-content: middle;
  background-color: #fbeabc;
  width: 315px;
  height: auto;
  padding: 45px 20px 45px 20px;
  border-radius: 5px;
}

.card-2-active {
  text-align: center;
  align-items: center;
  justify-content: middle;
  background-color: #ffcf70;
  width: 315px;
  height: auto;
  padding: 45px 20px 45px 20px;
  border-radius: 5px;
}

.card-heading {
  display: flex;
  font-size: 12px;
  gap: 3px;
  color: #777980;
}

.card-2-heading {
  font-size: 28px;
  font-weight: 900;
  color: black;
}

.card-heading-wording {
  margin-top: 5px;
}

.card-amount {
  color: black;
  font-size: 30px;
  margin: 8px 0 8px 0;
  font-weight: 500;
}

.card-footer {
  display: flex;
  gap: 2px;
  font-weight: 700;
  font-size: 10px;
  color: #858d9d;
}

.card-percentage {
  color: #1a9882;
  margin-top: 3px;
}

.card-dif {
  margin-top: 3px;
}

.card-dif {
  font-size: 13px;
  margin-top: 1px;
  margin-right: 3px;
}

.card-day {
  margin-top: 3px;
}

.dash-navbar {
  display: flex;
  width: 100%;
}

.dashboard-navbar {
  margin: 0 0 60px 420px;
  padding-top: 60px;
  text-align: left;
}

.dash-nav-heading {
  font-size: 30px;
  font-weight: 500;
}

.dash-nav-subheading {
  font-size: 15px;
  margin-top: 10px;
  color: #667085;
}

.dash-nav-icon {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.dash-nav-section2 {
  display: flex;
  gap: 60px;
  margin-left: 400px;
}

.dash-nav-avatar {
  display: flex;
  width: 300px;
  gap: 15px;
}

.dash-nav-avatar-img {
  width: 50px;
  height: 50px;
}

.dash-nav-avatar-name {
  margin-top: 8px;
  font-weight: 500;
  font-size: 15px;
}

.dash-nav-avatar-role {
  font-size: 10px;
  margin-top: 1px;
  color: #4a4c56;
}

.stat {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  margin-left: 420px;
}

.stat1 {
  position: relative;
  text-align: left;
  background-color: white;
  width: 500px;
  padding: 20px 0 30px 20px;
  border-radius: 5px;
}

.stat2 {
  position: relative;
  text-align: left;
  background-color: white;
  width: 550px;
  padding: 20px 0 30px 20px;
  border-radius: 5px;
}

.stat-heading {
  font-size: 18px;
  font-weight: 500;
}

.stat-subheading {
  font-size: 13px;
  color: #777980;
  margin-top: 2px;
}

.service-table {
  margin: 50px 0 0 420px;
  width: 1115px;
}

.service-search-bar {
  width: 300px;
  position: relative;
  top: 30px;
  left: 73%;
}

@media screen and (max-width: 1440px) {
  .dashboard {
    background-color: #f5f5f5;
    font-family: roboto;
    width: 100%;
    max-height: 140vh;
  }
  .slideBar {
    top: -30px;
    width: 20%;
    position: absolute;
    background-color: white;
    height: 130%;
  }
  .dashboard--logo {
    margin-top: 140px;
    margin-left: 90px;
  }

  .ulContent {
    list-style: none;
    position: absolute;
    text-align: left;
    margin-top: 80px;
  }

  .ulContent ld {
    margin-right: 20px;
    font-size: 14px;
    font-weight: 600;
    /* text-decoration: none; */
    color: #4a4c56;
    align-items: center;
    justify-content: center;
  }

  .ulContent li {
    margin-top: 30px;
  }

  .ulContent .active1 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    left: 40px;
    top: -20px;
    color: black;
  }

  .active--link img {
    position: relative;
    top: 8px;
    left: -20px;
  }

  .active--link {
    background-color: #f5f5f5;
    padding: 20px 150px 0px 50px;
    position: relative;
    left: -30px;
  }

  .yellow--mark {
    position: absolute;
    left: -13px;
    width: 10px;
    padding: 4.5px;
    height: 58px;
    top: 0;
    background-color: #ffcf70;
  }

  ld img {
    width: 20px;
    height: auto;
  }

  .cards {
    margin-left: 350px;
    z-index: 10;
    display: flex;
    gap: 25px;
    margin-top: 13px;
  }

  .cards-2 {
    margin-left: 350px;
    z-index: 10;
    display: flex;
    gap: 25px;
  }

  .card {
    text-align: left;
    align-items: middle;
    justify-content: middle;
    background-color: white;
    width: 200px;
    height: auto;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
  }

  .card-2 {
    text-align: center;
    align-items: center;
    justify-content: middle;
    background-color: #fbeabc;
    width: 288px;
    height: auto;
    padding: 45px 20px 45px 20px;
    border-radius: 5px;
  }

  .card-2-active {
    text-align: center;
    align-items: center;
    justify-content: middle;
    background-color: #ffcf70;
    width: 288px;
    height: auto;
    padding: 45px 20px 45px 20px;
    border-radius: 5px;
  }

  .card-heading {
    display: flex;
    font-size: 10px;
    gap: 3px;
    color: #777980;
  }

  .card-2-heading {
    font-size: 25px;
    font-weight: 900;
    color: black;
  }

  .card-heading-wording {
    margin-top: 5px;
  }

  .card-amount {
    color: black;
    font-size: 28px;
    margin: 8px 0 8px 0;
    font-weight: 500;
  }

  .card-footer {
    display: flex;
    gap: 2px;
    font-weight: 700;
    font-size: 8px;
    color: #858d9d;
  }

  .card-percentage {
    color: #1a9882;
    margin-top: 5px;
  }

  .card-dif {
    margin-top: 5px;
  }

  .card-dif {
    font-size: 13px;
    margin-top: 2px;
    margin-right: 3px;
  }

  .card-day {
    margin-top: 5px;
  }

  .dash-navbar {
    display: flex;
    width: 100%;
  }

  .dashboard-navbar {
    margin: 0 0 50px 350px;
    padding-top: 33px;
    text-align: left;
  }

  .dash-nav-heading {
    font-size: 25px;
    font-weight: 700;
  }

  .dash-nav-subheading {
    font-size: 13px;
    margin-top: 6px;
    color: #667085;
  }

  .dash-nav-icon {
    width: 22px;
    height: 22px;
    margin-top: 10px;
  }

  .dash-nav-section2 {
    display: flex;
    gap: 35px;
    margin-left: 490px;
  }

  .dash-nav-avatar {
    display: flex;
    width: 200px;
    gap: 15px;
  }

  .dash-nav-avatar-img {
    width: 33px;
    height: 33px;
  }

  .dash-nav-avatar-name {
    margin-top: 4px;
    font-weight: 700;
    font-size: 10px;
  }

  .dash-nav-avatar-role {
    font-size: 8px;
    margin-top: 1px;
    color: #4a4c56;
  }

  .stat {
    display: flex;
    gap: 25px;
    margin-top: 20px;
    margin-left: 350px;
  }

  .stat1 {
    position: relative;
    text-align: left;
    background-color: white;
    width: 400px;
    padding: 20px 0 30px 20px;
    border-radius: 5px;
  }

  .stat2 {
    position: relative;
    text-align: left;
    background-color: white;
    width: 570px;
    padding: 20px 0 30px 20px;
    border-radius: 5px;
  }

  .stat-heading {
    font-size: 18px;
    font-weight: 500;
  }

  .stat-subheading {
    font-size: 13px;
    color: #777980;
    margin-top: 2px;
  }

  .service-table {
    margin: 50px 0 0 350px;
    width: 1030px;
  }

  .service-search-bar {
    width: 330px;
    position: relative;
    top: 30px;
    left: 350px;
  }

.sp-profile {
    position: relative;
    left: 400px;
    display: flex;
    max-width: 700px;
    margin-top: 40px;
    max-height: 400px;
  }

  .sp-img1 {
    width: 150px;
    height: 150px;
    margin-right: 40px;
  }

  .sp-name {
    font-size: 25px;
    margin-top: 20px;
    font-weight: 600;
  }

  .sp-description {
    font-size: 15px;
  }

  .rating {
    font-size: 15px;
    font-weight: 500;
    color: #d4842b;
    margin: 7px;
  }

  .sp-separator {
    position: absolute;
    height: 250px;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.256);
    left: 60%;
    top: 510px;
    border-radius: 10px;
  }

  .sp-reviews {
    margin-left: 400px;
    margin-top: 40px;
    max-height: 300px;
    overflow-y: auto;
  }

  .sp-heading {
    position: relative;
    font-size: 20px;
    font-weight: 500;
  }

  .review-content {
    display: flex;
  }

  .review-content-flex {
    display: flex;
    margin-top: -30px;
  }

  .review-content-block {
    display: block;
    margin-top: -10px;
  }

  .review {
    display: block;
    max-width: 300px;
  }

  .sp-complains {
    position: absolute;
    margin-left: 65%;
    margin-top: -300px;
    max-height: 300px;
    overflow-y: auto;
  }

  .sp-heading-complains {
    position: relative;
    font-size: 20px;
    font-weight: 500;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
